// Foundation for Emails by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@import
  'util/util',
  'settings/_settings',
  'components/normalize',
  'grid/grid',
  'grid/block-grid',
  'components/alignment',
  'components/visibility',
  'components/type',
  'components/button',
  'components/callout',
  'components/thumbnail',
  'components/menu',
  'components/outlook-first',
  'components/media-query';



      
.footer-drip {
  background: #F3F3F3;
  border-radius: 0 0 10px 10px;
}

.footer-drip .columns {
  padding-top: 16px;
}

.container.header-drip {
  background: #F3F3F3;
}

.container.header-drip .columns {
  padding-bottom: 16px;
  padding-top: 16px;
}

.container.body-drip {
  border-radius: 10px;
  border-top: 10px solid #663399;
}




.header {
  background: #8a8a8a;
}

.header p {
  color: #ffffff;
  margin: 0;
}

.header .columns {
  padding-bottom: 0;
}

.header .container {
  background: #8a8a8a;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header .container td {
  padding-top: 16px;
  padding-bottom: 16px;
}