@import 
  '_foundation';

$grey-lt: #e6e6e6;
$red-text: #eb2e2e;

th.no-padding,
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.custom-bb {
  border-bottom: 1px solid $grey-lt;
}

.custom-bb-2 {
  border-bottom: 3px solid $red-text;
}

.text-column {
  line-height: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.text-color-red {
  font-size: 21px;
  line-height: 24px;
  color: $red-text;
}

.grey-line {
  width: 230px;
  border-bottom: 1px solid $grey-lt;
}

.title-1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.img-wrap td{
  height: 75px;
  vertical-align: middle;
}

.middle-text {
  line-height: 20px;
  font-size: 18px;
}

.title-2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.26px;
}

table.button.radius td{
  border-radius: 5px;
}

.small-text {
  color: #878787;
  font-size: 9px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: -0.23px;
}